version: "3.8"
services:
  frontend:
    build: ./Frontend/SmartLibrary
    ports:
      - "3000:80"
    depends_on:
      - springboot

  springboot:
    build: ./Backend/SmartLibrary
    ports:
      - "8080:8080"
    depends_on:
      - flask
      - postgres
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/smartlibrary
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=postgres

  flask:
    build: ./Ai/FlaskApp
    ports:
      - "5000:5000"

  ollama:
    image: ollama/ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama-data:/root/.ollama
    entrypoint: ["/bin/sh", "-c", "ollama serve & sleep 3 && ollama pull llama3 && tail -f /dev/null"]

  postgres:
    image: postgres:14
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=smartlibrary
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
  ollama-data:
